.copy-section{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding-left:15vw;
    padding-right:15vw;
    padding-bottom:2vw;
}

.copy-row{
    padding:0px;
    margin:0px;
}

.copy-section-elements{
    display:flex;
    flex-direction:column;
    justify-items: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width:35vw;
}

.copy-label{
    display:flex;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size: clamp(18px, 1.5vw, 24px);
    color:#3195b4;
    align-content: flex-start;
    align-items:flex-start;
    justify-items: flex-start;
}

.contact-us-section{
    margin:0px;
    padding:0px;
}
.contact-info-row{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-content:flex-start;
    padding:0px;
    margin:0px;
}

.contact-info-box{
    margin-right:1vw;
    display:block;
    width:fit-content;
    min-width:200px;
}

.copy-p{
    font-size:max(1vw,14px);
    font-size: clamp(12px, 1.25vw, 18px);
    line-height: 1.1em;
}
.contact-p{
    line-height: .25em;
    font-size: clamp(12px, 1vw, 16px);
}


.green-line{
    width:.125vw;
    max-width:1px;
    height:99%;
    background-color: #138b76;
    margin:2vw;
    align-self: start;
}

.blog-section{
    display:flex;
    flex-direction:column;
    width:30vw;
    justify-content: flex-start;
    justify-items: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    padding:0px;
    margin:0px;
}
.blog-thumbnail{
    width:100%;
    max-width:30vw;
    height:auto;
    z-index: -1;
    margin:0px;
    object-fit: contain;
}

.blog-title{
    color:#4a4a4a;
    font-size:1.5vw;
}

@media only screen and (max-width:1081px){
    .contact-info-row{
        /* flex-direction:column; */
        flex-wrap: wrap;
        justify-content:flex-start;
        width:fit-content;
    }
   
    .contact-info-box{
        display:block;
        width:fit-content;
    }
    .blog-section.copyrow{
        width:fit-content;
        font-size: 100%;
    }
    
}

@media only screen and (max-width: 767px) {
    .copy-section{
        flex-direction:column;
        justify-content:flex-start;
        justify-content: space-between;
    }
    .copy-section-elements{
        display:block;
        width:fit-content;
    }
    .contact-info-row{
        display:block;
    }
    .copy-label{
        font-size: 3vw;
    }
    .contact-info-box{
        display:block;
        width:fit-content;
    }

    .green-line{
        display:block;
        height:2px;
        width:100%;
        background-color: #138b76;
    }

    .blog-section{
        display:block;
        justify-content: left;
        justify-items: left;
        padding:0px;
        margin:0px;
    }
    .blog-thumbnail{
        width:100%;
        max-width:100%;
        height:auto;
        margin:0px;

    }
    .blog-title{
        font-size: 3vw;
    }
    

}