.copy-section{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding-left:15vw;
    padding-right:15vw;
    padding-bottom:5vw;
}
.copy-row{
    padding:0px;
    margin:0px;
}
.copy-section-elements{
    display:flex;
    flex-direction:column;
    justify-items: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width:35vw;
}
.copy-label{
    display:flex;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size: 24px;
    color:#3195b4;
    align-content: flex-start;
    align-items:flex-start;
    justify-items: flex-start;
    margin:0;
}

.contact-us-section{
    margin:0px;
    padding:0px;
}
.contact-info-row{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-content:flex-start;
    padding:0px;
    margin:0px;
}
.contact-info-box{
    margin-right:1vw;
    display:block;
    width:fit-content;
    min-width:200px;
}

.copy-p{
    font-size:18px;
    line-height: 1.1em;
}
.contact-p{
    line-height: .25em;
    font-size: 16px;
}

.green-line{
    width:.125vw;
    max-width:1px;
    height:99%;
    background-color: #138b76;
    align-self: start;
}

.blog-section{
    display:flex;
    flex-direction:column;
    width:30vw;
    justify-content: flex-start;
    justify-items: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    padding:0px;
    margin:0px;
}
.blog-thumbnail{
    display:block;
    margin-block-start: 1em;
    margin-block-end: .5em;
    width:100%;
    max-width:30vw;
    height:auto;
    z-index: -1;
    object-fit: contain;
}
.blog-title{
    color:#4a4a4a;
    font-size:18px;
}

@media only screen and (max-width:1367px){
    .copy-section{
        padding-left:10vw;
        padding-right:10vw;
        padding-bottom:2.5vw;
    }
    .copy-label{
        font-size: 24px;
    }
}

/* had to use 1235 becuase of a weird 
text wrapping issue with the contact information*/
@media only screen and (max-width:1235px){
    .copy-section {
        flex-direction: column;
        padding-bottom: 5vw;
    }
    .copy-section {
        flex-direction: column;
    }
    .copy-section-elements{
        width: 100%;
    }
    .copy-label{
        font-size:24px;
    }
    .contact-info-row{
        flex-wrap: wrap;
        justify-content:flex-start;
        width:fit-content;
    }
   
    .contact-info-box{
        display:block;
        width:fit-content;
        margin-right:2vw;
    }

    .blog-section.copyrow{
        width:fit-content;
        font-size: 100%;
    }

    .blog-title{
        font-size: 16px;
    }

    .blog-layout-flip-toggle{
        display: flex;
        flex-direction:row;
        justify-content: space-between;
        width: 100%;
        margin:0px;
    }

}


@media only screen and (max-width: 769px) {
    .copy-section{
        flex-direction:column;
        justify-content:flex-start;
        justify-content: space-between;
        padding: 0vw 10vw 5vw 10vw;
    }
    .copy-section-elements{
        display:block;
        width:fit-content;
        margin-bottom: 2vw;
    }
    .contact-info-row{
        display:block;
    }
    .copy-label{
        font-size: 28px;
    }
    .contact-info-box{
        display:block;
        width:fit-content;
    }

    .green-line{
        display:block;
        height:2px;
        width:100%;
        background-color: #138b76;
    }

    .blog-layout-flip-toggle{
        display: block;
        width: 100%;
        margin:0px;
    }

    .blog-section{
        display:block;
        justify-content: left;
        justify-items: left;
        padding:0;
    }
    .blog-thumbnail{
        width:100%;
        max-width:100%;
        height:auto;
    }
    .blog-title{
        font-size: 24px;
        margin:0px;
    }
}

@media only screen and (max-width:575px){
    .copy-label{
        font-size: 24px;
        font-weight: normal;
    }
    .blog-title{
        font-size: 18px;
        margin:0px;
    }
}

@media only screen and (max-width:426px){
    .blog-title{
        font-size: 16px;
        margin:0px;
    }

}

@media only screen and (max-width:380px){
    .blog-title{
        font-size: 14px;
        margin:0px;
    }

}
