
.pre-footer-stripe{
    height:2vw;
    min-height:3px;
    max-height:5px;
    width:90vw;
    background-color:#3195b4;
    margin:0vw 5vw;
}
.footer-style{
    display:flex;
    flex-direction:row;
    background-color: #7d7d7d;
    /* padding:0vw 15vw; */
    margin: 0vw 5vw;
    color:white;
    padding: 1vw 0vw;
}

/* spacer{
    display: flex;
    flex-direction: row;
    height:100%;
    background-color: transparent;
    padding: 0vw 2vw;
    align-content: center;
    align-items: center;
}

.green-line{
    width:.125vw;
    max-width:1px;
    height:100%;
    background-color: #138b76;
} */

.footer-col2{
    display:flex;
    flex-direction:column;
    width:50vw;
    justify-content: flex-start;
    align-content: center;
    text-align: center;
}

.footer-col1{
    display:flex;
    flex-direction:column;
    width:20vw;
    justify-content: flex-start;
    align-content: flex-start;
}

.footer-nav-link{
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:lighter;
    font-size:max(.3vw,10px);
    margin:1vw .5vw;
 }

 #social-footer{
    display: flex;
    flex-direction: row;
    justify-content:center;
    height:3vw;
 }
 .fa-icon{
     color:white;
     font-size: 2vw;
     margin:1vw;
 }

 .p-footer{
     color:white;
     font-family:Arial, Helvetica, sans-serif;
     font-weight:lighter;
     font-size:max(.3vw,10px);
     margin:1vw;
 }
 .footer-phone{
    font-size:max(.3vw,12px);
    font-weight: normal;
    text-align: left;
 }