body{
    min-width:280px;
    max-width:1920px;
    margin:0px;
}

.my-container{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    justify-items:center;
    height:auto;
    margin:0;
}

.mac-image-container{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:0px;

}
#mac-image {
    width:100%;
    max-height:836.856px; 
    z-index: -1;
    margin:0px;
    object-fit: contain;
}

@media only screen and (max-width: 767px) {
    .mac-image-container{
      display:block
    }
    #mac-image{
      width:100%;
    }
}