body{
    min-width:280px;
    margin:0px auto;
    background-color:#ffffff;
}

.my-container{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    justify-items:center;
    height:auto;
    margin:0;
    background-color: #ffffff;
}

.mac-image-container{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:0px;
    z-index: 100;
}
#mac-image {
    width:100%;
    max-height:836.856px; 
    z-index: -1;
    margin:0px;
    object-fit: contain;
}

.ca-logo-image-container{
    display:none
}
#ca-image{
    display:none;
}

.under-header-spacer{
    display:none;
}


@media only screen and (max-width:1366px){
    .under-header-spacer{
        display:block; 
        height:120px;
        width:100%;
        background-color: transparent;
    }

    .ca-logo-image-container{
        display:block;
        /* width:100%; */
        justify-items:center;
        justify-content: center;
        padding: 5vw 10vw 5vw 10vw;
    }
    #ca-image{
        display:block; 
        width:80vw;
        object-fit: contain;
        justify-items:center;
        justify-content: center;
    }

    .mac-image-container{
        display:none;
      }
      #mac-image{
        width:none;
    }
}


@media only screen and (max-width: 1024px) and (min-height: 541px){
    .under-footer-spacer{
        display:block;
        height:100px;
        width:100%;
        background-color: transparent;
    }
}


@media only screen and (min-width: 1025px) and (max-width: 1366px) and (min-height: 541px){
    #above-footer-spacer{
        height:100px;
    }
}


@media only screen and (max-width: 768px) {
    .under-header-spacer{
        display:block;
        height:100px;
        width:100%;
        background-color: transparent;
    }

    .ca-logo-image-container{
        display:block;
        justify-items:center;
        justify-content: center;
        padding: 8vw 10vw;
    }
    #ca-image{
        display:block; 
        width:80vw;
        object-fit: contain;
        justify-items:center;
        justify-content: center;
    }
    
    .mac-image-container{
      display:none;
    }
    #mac-image{
      width:none;
    }
}

@media only screen and (max-width: 415px){
    .under-header-spacer{
        height:70px;
        width:100%;
        background-color: transparent;
    }
    .ca-logo-image-container{
        display:block;
        width:100%;
        justify-items:center;
        justify-content: center;
        padding: 10vw;
    }
    #ca-image{
        display:block; 
        width:80vw;
        object-fit: contain;
        justify-items:center;
        justify-content: center;
        max-height:70px;
    }
}

@media only screen and (max-height: 540px){
    .under-footer-spacer{
        display:none;
    }
}